<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper  namespace="com.salmon.scommerce.persistence.repository.AdminRoleMapper">

  <resultMap type="com.salmon.scommerce.persistence.domain.AdminRole" id="AdminRoleResult">
    <id  column="role_id" property="roleId" />
   	<result  column="parent_id" property="parentId" />
    <result  column="tree_level" property="treeLevel" />
    <result  column="sort_order" property="sortOrder" />
    <result  column="role_type" property="roleType" /> 
    <result  column="user_id" property="userId" /> 
    <result  column="role_name" property="roleName" /> 
    <result  column="gws_is_all" property="gwsIsAll" /> 
    <result  column="gws_websites" property="gwsWebSites" /> 
    <result  column="gws_store_groups" property="gwsStoreGroups" /> 
  </resultMap>
  
  <resultMap type="com.salmon.scommerce.persistence.domain.AdminRoleNew" id="AdminRoleResult">
    <id  column="role_id" property="roleId" />
   	<result  column="parent_id" property="parentId" />
    <result  column="tree_level" property="treeLevel" />
    <result  column="sort_order" property="sortOrder" />
    <result  column="role_type" property="roleType" /> 
    <result  column="role_name" property="roleName" /> 
    <result  column="gws_is_all" property="gwsIsAll" /> 
    <result  column="gws_websites" property="gwsWebSites" /> 
    <result  column="gws_store_groups" property="gwsStoreGroups" /> 
    <association property="parent" javaType="com.salmon.scommerce.persistence.domain.AdminRoleNew">
    </association>
    <collection property="" javaType="com.salmon.scommerce.persistence.domain.AdminUser">
    </collection>
  </resultMap>

</mapper>