<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper  namespace="com.salmon.scommerce.persistence.repository.Api2AclRoleMapper">

   <resultMap type="com.salmon.scommerce.persistence.domain.Api2AclRole" id="Api2AclRoleResult"> 
     <id  property="entityId" column="entity_id" />
     <result  property="roleName" column="role_name" />
   </resultMap>
    
   <resultMap type="com.salmon.scommerce.persistence.domain.Api2AclRole" id="Api2AclRoleAndRuleResult">
     <id  property="entityId" column="role_entity_id" />
     <result  property="roleName" column="role_name" />
     <collection property="api2AclRuleList" ofType="com.salmon.scommerce.persistence.domain.Api2AclRule" resultMap="com.salmon.scommerce.persistence.repository.Api2AclRuleMapper.Api2AclRuleResult"/>
   </resultMap>
    
    
    <select id="getAclRolesandPivs" parameterType="map" resultMap="Api2AclRoleAndRuleResult">
    	SELECT role.entity_id role_entity_id, role.role_name role_name, rule.resource_id  FROM api2_acl_role role, api2_acl_rule rule WHERE role.entity_id = rule.role_id
    	<if test="api2AclRole.entityId != 0"> AND entity_id = #{role.entityId}</if>
    	<if test="api2AclRole.roleName != null and api2AclRule.privilege != ''"> AND role_name = #{role.roleName}</if>
    	
    	<if test="api2AclRule.entityId != 0"> AND entity_id = #{rule.entityId}	</if>
		<if test="api2AclRule.roleId != 0"> AND role_id = #{rule.roleId}	</if>
		<if test="api2AclRule.resourceId != null and api2AclRule.resourceId != ''"> AND resource_id = #{rule.resourceId}	</if>
		<if test="api2AclRule.privilege != null and api2AclRule.privilege != ''"> AND privilege = #{rule.privilege}	</if>
		order by resource_id
    </select>

</mapper>
